*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    background-color: #212121;
}
/*Header Başlangıç*/
.header{   
    background-color: #212121; 
    padding: 32px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header img{
    display: block;
    max-width: 100%;
}
.user a{
color: var(--neutral-white, #FFF);
font-family: 'Roboto', sans-serif;
text-align: right;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
text-decoration: none;
}

.user{
    display: flex;
    gap:10px;
    align-items: center;
    padding-left:720px;
}

.user img{
    border-radius: 50%;
}
.icons{
    display:inline-flex;
    align-items: center;
    gap:40px;
}
/*Header Son*/
/*rectangle content*/
.rectangle {
    width: 1440px;
    margin: 0 auto;
    background-color: #212121;
}
.rec-content{
    width: 1110px;
    height: 550px;
    flex-shrink: 0; 
    display: flex;
    margin: 88px 165px;

}
.rec-content-text{
    width: 50%;
}
.rec-content-text h2{
    color: #FFF;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
    letter-spacing: -0.7px; 
    margin-bottom: 16px;
}
.rec-content-text p{
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */ 
    margin-bottom: 29px;
}
.rec-content-text-icon{
    display: flex;
    gap: 20px;
}
.frame{
    width: 50%;
    height: 504.553px;
    flex-shrink: 0; 
}
.rec-phone-outside{
    width: 259px;
    height: 530px; 
    border-radius: 39.445px;
    background: #363941; 
}
.rec-phone{
    width: 247px;
    height: 518px;
    flex-shrink: 0;
    border-radius: 35.329px;
    background: #171717;
}
.rec-phone img{
    padding: 8px 0 0 10px;
    width: 245.588px;
    height: 504.553px; 
    border-radius: 30px;
}
.frame{
    display: flex;
}
/*Clients Başlangıç*/
.clients{
    width: 1440px;
    margin: 0 auto;
}
.clients-logo{
    margin-top: 24px;
    display: flex;
    width: 998.451px;
    height: 31.004px;
    justify-content: center;
    align-items: center;
    gap: 72.405px;
    flex-shrink: 0; 
}
.clients-content{
    margin: 56px 165px;
}
.clients p {
    color: #807E7E;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
/*clients son*/

/*section-2 başlangıç*/
.section-2{
    width: 1440px;
    margin: 0 auto;
    
}
.section-2-content{
    margin: 120px 165px;
    display: flex;
    gap: 32px;
    align-items: center;
}
.section-2-content-text{
    width: 538px;
}
.section-2-content-text h6{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.section-2-content-text h3{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: -0.4px; 
}
.section-2-content-text p{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */   
}
.section-2-content-text a{
    text-decoration: none;
}
.section-2-link{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    align-items: center; 
    gap: 4px;
}
.section-2-content-watch{
    width: 500px;
    height: 466.243px;
    flex-shrink: 0;
    border-radius: 540px;
    background-color: #121212;
    display: inline-block;
    position: relative;
    left:10px;
    top:10px;

}
.strap-up{
    position: relative;
    left: 111px;
    top: -17px;
    z-index: 0;
    
}
.strap-down{
    position: relative;
    top: -160px;
    left: 113px;
    z-index: 0;
}
.watch-base{
    width: 296.64px;
    height: 343.579px;
    flex-shrink: 0; 
    border-radius: 54.72px;
    background: #1E1E1E; 
    position:relative;
    left:100px;
    top:-93px;
    z-index: 1;
   
}
.watch-shadow{
    margin: 10.59px 11.52px 9.62px;
    width: 273.6px;
    height: 323.368px; 
    border-radius: 40.32px;
    background: #1E1E1E; 
    padding: 10px;
}
.watch-shadow img{
    width: 203.198px;
    height: 242.753px;
    margin: 40px 34.55px 40.55px 21.85px; 
}

/*FAQ Başlangıç*/
.faq{
    width: 1440px;
    height: 993px;
    margin: 0 auto;
}
.faq-content h4{
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px; /* 123.333% */
    letter-spacing: -0.35px; 
}
.faq-content details{
    border-top: 1px solid #3F3B3B;
    border-bottom: 1px solid #3F3B3B;
}
.faq-content summary{
    color: #FFF;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; /* 150% */ 
    list-style: none;
    background-image: url(/assets/icon/plus.svg);
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}
.faq-content details[open] summary{
    background-image: url(../icon/Minus.svg);
}


.faq-inside{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 24px;
    padding-right: 360px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */ 
}
/*FAQ Son*/
/*call-action başlangıç*/
.call-action{
    width: 1440px;
    height: 626px; 
    margin: 0 auto;
    
}
.call-action-content{
    background-color: black;
    width: 1110px;
    height: 349px;
    margin: 0 auto; 
    display: flex inline;
    gap: 158px;
    margin: 28px 165px 120px 165px;
}
.call-action-content-text{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: -0.4px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    height: 184px;
    width: 426px;
    margin: 83px 0 82px 96px;
}
.call-action-content-text button{
    color: #fff;
    background-color: rgb(220, 53, 69);
    display: flex;
    padding: 16px 72px;
    align-items: center;
    gap: 16px; 
    border-radius: 3px; 
    border: 0;
}
.call-action-content img{
    width: 368.5px;
    height: 313px;
    flex-shrink: 0;
    margin: 36px 61px 0 0;
}
/*call-action SON*/
/*footer başlangıç*/
.deep-footer{
    background-color: #121212;
    width: auto;
    height: 380px;
    margin: 0 auto;
    
}
.footer-content{
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 124px;
    gap: 24px;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 72px;
}
.top-column{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.top-column ul{
    list-style: none;
}
.top-column ul a{
    text-decoration: none;
    color: #807E7E;
}
.top-end h4{
    text-align: right;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
}
.top-end-place{
    display: flex;
    height: 48px;
    padding: 1px 1px 1.087px 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 196px;
    align-self: stretch; 
}
.search-input{
    background-color: #121212;
    display: flex;
    height: 48px;
    padding: 1px 1px 1.087px 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 196px;
    align-self: stretch; 
}
.place-icon img{
    background-color: #0D6EFD;
    width: 63px;
    height: 45.913px; 
    margin: 12,5px 21px;
}
/*footer top bitiş*/
/* footer alt kısım başlangıç */
.footer-bottom{
    width: auto;
    margin: 0 auto;
    border-top: 1px solid #3F3B3B;
    height: 63px;
}
.bottom-content {
    width: 1440px;
    height: 24px; 
    margin: 0 auto;
    
}
.content-bot{
    width: 1350px;
    margin: 25px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 95px;
}
.bot-text h4{
    font-family: 'Open Sans', sans-serif;
    color: #807E7E;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */ 
}
.bot-social{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px; 
}

